<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Number</td>
                    <td>Number of receipts</td>
                </tr>
            </thead>
            <tbody>
                {% for accounts in accounts_list.all %}
                <tr>
                    <td> {{ accounts.name }} </td>
                    <td> {{ accounts.number }} </td>
                    <td> {{ accounts.receipts.all|length }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>
