<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <table>
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Number of receipts</th>
                </tr>
               </thead>
               <tbody>
                    {% for expense in expense_list.all %}
                    <tr>
                        <th> {{ expense.name }} </th>
                        <th> {{ expense.receipts.all|length }} </th>
                    </tr>
                    {% endfor %}
               </tbody>
        </table>
    </main>
</body>
</html>
